.vacation{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.vacation p {
  width: 33%;
  padding:0 5px;
  margin: 5px 0;
  height: 35px;
  line-height: 35px;
}
.vacation p:nth-child(1){
  width: 26px;
}
.description{
  word-break: normal;
  overflow-y: scroll;
}
.btnWrapper{
  width: calc(34% - 30px);
}
.btnVacation{
  display: inline-block;
  width: 50%;
  height: 45px;
}
@media screen and (max-width: 1100px){
  .btnVacation{
    margin-right: 0;
    width: 49%;

  }
}
@media screen and (max-width: 450px){
  .vacation{
    font-size: 12px;
  }
  .btnWrapper{
    width: 36%;
  }
  .btnVacation{
    font-size: 10px;
  }
}
