.vacation{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.vacation p {
  width: 33%;
  padding:0 5px;
  margin: 5px 0;
  height: 35px;
  line-height: 35px;
}
.vacation p:nth-child(1){
  width: 26px;
}
.description{
  word-break: normal;
  overflow-y: scroll;
}
.btnWrapper{
  width: calc(34% - 30px);
}
.btnWrapper button{
  width: 45%;
  height: 45px;
  margin-right: 5px;
};
