.err{
  font-size: 14px;
  font-weight: 400;
  width: 160px;
  background: #eee;
  border-radius: 3px;
  padding: 5px;
  position: absolute;
  box-shadow: 2px 2px 3px #ccc;
  top: 90px;
  left: 20px;
}
.err img{
  float: left;
  width: 25px;
  margin: 0 5px;
}
