.userWrapper{
  width: 60vw;
  height: 325px;
  margin: 40px auto 0 auto;
  background: #fff;
  box-shadow: 2px 2px 5px #666;
  border-radius: 5px;

}
.userHeader{
  height: 40px;
  width: 100%;
  background: #4fc3f7;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 700;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.userMain{
 display: flex;
 align-items: center;
 height: 285px;
 padding: 0 20px ;
}
.listVacationsWrapper{
  height: 250px;
  flex-grow: 1;
  background: #eee;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #888;
  font-size: 16px;
}
.listVacationsHeader{
  background: #4fc3f7;
  height: 30px;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.vacationsInfoWrapper{
  display: flex;
  list-style: none;
  width: 100%;
  padding: 0 3px;
}
.vacationsInfoWrapper li:nth-child(1){
  width: 40px;
}
.vacationsInfoWrapper *{
  width: 35%;
}
.filter{
  float:right;
  border: none;
  border-radius: 2px;
  width: 55px;
  font-size: 12px;
}
.listVacations{
  overflow-y: scroll;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  height: 209.5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.listVacations li:nth-child(odd){
  background: #fff;
}
.listVacations li:nth-child(even){
  background: #ccc;
}
@media screen and (max-width: 1600px){
  .userWrapper{
    width: 80vw;
  }
}
@media screen and (max-width: 1200px){
  .UserWrapper{
    width: 95vw;
  }
}
@media screen and (max-width: 1000px){
  .userMain{
    flex-direction: column;
    height: auto;
  }
  .userWrapper{
    height: auto;
  }
  .listVacationsWrapper{
    width: 100%;
    margin: 15px;
  }
}
@media screen and (max-width: 900px){
  .userWrapper{
    width: 96vw;
  }
}
@media screen and (max-width: 500px){
  .userMain{
    padding: 0 10px;
  }
}
@media screen and (max-width: 450px){
  .listVacationsHeader{
    font-size: 12px;
  }
}
